

{% block cuerpo %}
    <header>
        <h1> LABORATORIO 6 DE PYTHON CON DJANGO </h1><br>
    </header>


    <section>
        {% block opciones %}
            <nav>
                <ul><a href="http://127.0.0.1:8000/menu"> 1. Menu </a></ul>
                <ul><a href="http://127.0.0.1:8000/login"> 2. Login </a></ul>
                <ul><a href="http://127.0.0.1:8000/gamer"> 3. game </a></ul>
            </nav>
        {% endblock %}

        <article>
            <h1> Esta sera la seccion que se reemplazara con el contenido </h1>
            {% block article %}
                <br><br><br><br>
            {% endblock %}
        </article>
    </section>


    <footer>
        <h3> Universidad Nacional de San Agustín </h3>
        <h3> David Flores Silva ☻ </h3>
        <h3> dfloressi@unsa.edu.pe </h3>
    </footer>
{% endblock %}