<!DOCTYPE html>
<html lang="en">
    <head>  
        <meta charset="UTF-8">
        <link rel="stylesheet" href="casa.css">
        <title>Document</title>
    </head>

    <body style="background-color:black">
       
        <header style="background-color:red; padding: 20px">
            <h1> LABORATORIO 6 DE PYTHON CON DJANGO </h1>
        </header>


        <section>
            <nav style="background-color: rgb(0, 60, 255); padding: 33px; float:left; width:15%">
                <ul><a href="http.127.0.0.1:8000/holaMundo/"> 1. Menu </a></ul>
                <ul><a href="http.127.0.0.1:8000/holaMundo/"> 2. Login </a></ul>
                <ul><a href="http.127.0.0.1:8000/holaMundo/"> 3. game </a></ul>
            </nav>

            <article style="background-color: rgb(0, 0, 255); padding: 62px; float:right; width:75%;">
                <h1> Esta sera la seccion que se reemplazara con el contenido </h1>
            </article>

        </section>


        <footer style="background-color :rgb(51, 0, 0);  float:right; width:100%">
            <h3> Universidad Nacional de San Agustín </h3>
            <h3> David Flores Silva ☻ </h3>
            <h3> dfloressi@unsa.edu.pe </h3>
        </footer>



    </body>
</html>